
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Leitura pública
    match /produtos/{doc} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /categorias/{doc} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /banners/{doc} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /configuracoes/{doc} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Pedidos
    match /pedidos/{doc} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
      
      match /items/{itemDoc} {
        allow create: if true;
        allow read, update, delete: if request.auth != null;
      }
    }
  }
}
